.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  z-index: 1000;
  transition: background-color 0.3s;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.navbar ul li {
  margin: 0;
  padding: 0;
}

.navbar ul li a {
  display: block;
  padding: 1em;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.navbar ul li a:hover {
  background-color: #575757;
  color: #fff;
}

.navbar ul li a.active {
  background-color: #ff6347; /* Change this to your desired active color */
  color: #fff;
}

/* Style changes on scroll */
.scrolled {
  background-color: #222 !important;
}
